<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document HBS</title>
    <link rel="stylesheet" href="./../assets/css/style.css"
</head>
<body>
    <p> TEST STRONY</p>
    <h1 style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate modi obcaecati nobis cumque sed, pariatur beatae quae laboriosam accusamus ipsa. Voluptates quasi nobis et. Illum sit hic deleniti rem!</h1>
    <p>Test 2</p>
    <script src="./../js/func.js"></script>


<Script src="/js/validate.min.js"></Script>

</body>
</html>